 * {
   margin: 0;
   padding: 0;
   user-select: none;
 }

 body {
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   text-align: right;
   display: flex;
   justify-content: center;
   align-items: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   position: relative;

   .Logo {
     width: 8vh;
     height: 7vh;
     right: 6%;
     top: 1%;
     position: absolute;
     background-position: center center;
     background-size: 100%;
     background-repeat: no-repeat;
     background-image: url(../images/penguin/selah.png);
   }

   #penguin {
     width: 100%;
     height: 100%;
   }

   .loader {
     background-color: #fff;
     background-image: url(../images/preloader.gif);
     width: 100vw;
     height: 100vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: 50%;
     position: absolute;
     z-index: 10;
     top: auto;
     right: auto;
   }

 }







 .startButton {
   width: 15vh;
   height: 20vh;
   position: absolute;
   right: 0;
   left: 0;
   bottom: 36%;
   margin: auto;
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   animation: zoom 30s infinite;
   -webkit-animation: zoom 2.5s infinite ease-in-out;

   @-webkit-keyframes zoom {
     0% {
       -webkit-transform: scale(0.8) rotate(-10deg);
       transform: scale(0.8) rotate(-10deg);
     }

     50% {
       -webkit-transform: scale(1) rotate(10deg);
       transform: scale(1) rotate(10deg);
     }

     100% {
       -webkit-transform: scale(0.8) rotate(-10deg);
       transform: scale(0.8) rotate(-10deg);
     }
   }

   @keyframes zoom {
     0% {
       -webkit-transform: scale(0.8) rotate(-10deg);
       transform: scale(0.8) rotate(-10deg);
     }

     50% {
       -webkit-transform: scale(1) rotate(10deg);
       transform: scale(1) rotate(10deg);
     }

     100% {
       -webkit-transform: scale(0.8) rotate(-10deg);
       transform: scale(0.8) rotate(-10deg);
     }
   }
 }

 .digital-screen {
   width: 100vw;
   height: 100vh;
   overflow: hidden;

   .music {
     position: absolute;
     left: 1vw;
     top: 1vw;
     width: 9vh;
     height: 9vh;
     background-size: contain;
     background-repeat: no-repeat;
     user-select: none;




   }

   .information {
     position: absolute;
     left: 1vw;
     top: 11vh;
     width: 9vh;
     height: 9vh;
     background-size: contain;
     background-repeat: no-repeat;
     user-select: none;

     &.none {
       pointer-events: none;
     }
   }

   .overlay {
     display: none;
     position: fixed;
     z-index: 999;

     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);

     animation: fadeInOverlay 0.3s ease-out forwards;

     &.opened {
       display: block;
     }
   }

   @keyframes fadeInOverlay {
     from {
       opacity: 0;
     }

     to {
       opacity: 1;
     }
   }

   .popup {
     display: none;
     position: fixed;
     z-index: 1000;
     width: 90vh;
     height: 60vh;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-position: center;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     padding: 20px;

     &.opened {
       display: block;
     }

     .popup-content {
       display: flex;
       width: 100%;
       height: 100%;
       justify-content: center;
       align-items: center;

       .title {
         font-size: 4.5vh !important;
         font-weight: bold;
         color: #204a66 !important;
       }
     }

     .popup-content .close {
       position: absolute;
       top: -1vh;
       right: -2vh;
       font-size: 24px;
       font-weight: bold;
       cursor: pointer;
       position: absolute;
       width: 9.5vh;
       height: 10vh;
       background-size: 100%;
       background-repeat: no-repeat;
     }


   }

   .penguin {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     direction: rtl;

     .border {
       position: relative;
       height: 70vh;
       width: 100vh;
       background-size: 100% 100%;
       background-repeat: no-repeat;
       pointer-events: none;
       display: flex;
       align-items: center;
       // justify-content: center;
       // animation: fade .3s linear;

       .help {
         position: relative;

         &::after {
           content: "";
           position: absolute;
           z-index: 1;
           width: 5vw;
           height: 6vw;
           background-size: 100% 100%;
           background-position: center;
           background-repeat: no-repeat;

         }
       }

       .help-input {
         &::after {
           animation: input .5s linear .2s infinite alternate;
           left: 4vw;
           top: -1vw;
           transform: rotate(-19deg);
           width: 7vh;
           height: 8vh;
         }

         @keyframes input {
           from {
             top: -1vw;
             left: 4vw;
           }

           to {
             top: 0vw;
             left: 4vw;
           }
         }
       }

       .help-check {
         &::after {
           width: 7vh;
           height: 8vh;
           left: 4vw;
           top: -5.5vw;
           transform: rotate(225deg);
           animation: check .5s linear .2s infinite alternate;
         }

         @keyframes check {
           from {
             left: 4vw;
             top: -5.5vw;
           }

           to {
             left: 5vw;
             top: -6.5vw;

           }
         }
       }


       .try-active {
         top: 8vh;
         right: 76vh;
         z-index: 5;
         position: absolute;
         width: 6vh;
         height: 6vh;
         background-size: contain;
         background-repeat: no-repeat;
         font-size: 1.5vw;
         font-weight: bold;
         display: flex;
         justify-content: center;
         align-items: center;
         color: #2F89D3;

         &.try {
           color: #767676;

         }
       }

       .button {
         z-index: 5;
         position: absolute;
         right: 55%;
         top: 14%;
         width: 12vh;
         height: 13vh;
         background-size: contain;
         background-repeat: no-repeat;

         pointer-events: auto;

         &.check {
           right: 77vh;
           top: 0vh;
         }

         &.answer {
           right: 64vh;
           top: 0vh;
         }

         &.next {
           right: 3vh;
           top: 52vh;
           width: 9vh !important;
           height: 9vh !important;
         }

         &.btn-check-active {
           border-radius: 50% 100% 100% 100%;
           cursor: pointer;
           background-size: 100%;
         }

         &.btn-answer-active {
           border-radius: 50% 100% 100% 100%;
           cursor: pointer;
           background-size: 100%;
         }

         &.btn-next-active {
           border-radius: 50%;
           opacity: 1;
           cursor: pointer;
         }

         &.btn-check {
           border-radius: 50% 100% 100% 100%;
           pointer-events: none !important;
           background-size: 100%;
         }

         &.btn-answer {
           border-radius: 50% 100% 100% 100%;
           pointer-events: none !important;
           background-size: 100%;
         }

         &.btn-next {
           border-radius: 50% 100% 100% 100%;
           opacity: 0;
           pointer-events: none;
         }

         &.pointer-none {
           pointer-events: none !important;
         }
       }

       .question {
         width: 70%;
         height: 70%;
         display: none;
         margin-right: 13vh;
         margin-bottom: 4vh;
         margin-top: 3vw;
         pointer-events: auto;

         .type-question {
           display: flex;
           flex-direction: column;
           justify-content: center;
           width: 100%;
           align-items: center;
         }

         &.disPointer {
           pointer-events: none !important;
         }

         &.active {
           opacity: 1;
           display: flex;
           pointer-events: auto;
         }

         p {
           font-size: 3.2vh;
           color: #204a66 !important;
           font-weight: bold;
           line-height: 6vh;



         }

         input {
           background-repeat: no-repeat;
           background-size: 100% 100%;
           border: 0;
           width: 10vh;
           height: 57vh;
           background-color: unset;
           outline: none;
           font-size: 3vh;
           text-align: center;
           font-weight: bold;
           color: #003A66;
           margin: 0 1vw;

           &.right {
             pointer-events: none;

           }

           &.wrong {
             pointer-events: none;

           }

           &.displayinput {
             pointer-events: none;
           }

           &.inactive {
             pointer-events: none;
           }

           &.inputTableUp {
             width: 100% !important;
             height: 100% !important;
             margin: 0 !important;
             padding: 0 !important;
             background-image: none !important;
             border: .2vh solid white !important;
             border-radius: 2vh;

             &.right {
               background-color: #53ED71 !important;
               background-image: none !important;
             }

             &.wrong {
               background-color: #E54C4C !important;
               background-image: none !important;
             }

             &.displayinput {
               background-image: none !important;
               background-color: #ffc600 !important;
             }
           }

           &.inputTableDown {
             width: 100% !important;
             height: 100% !important;
             margin: 0 !important;
             padding: 0 !important;
             background-image: none !important;
             border: .2vh solid white !important;
             border-radius: 2vh;
             background-color: #9CD2FF !important;

             &.right {
               background-color: #ABFFAD !important;
               background-image: none !important;
             }

             &.wrong {
               background-color: #FF7B7B !important;
               background-image: none !important;
             }

             &.displayinput {
               background-image: none !important;
               background-color: #fcdd90 !important;

             }
           }
         }


       }

     }

     .penguinCharacter {
       position: relative;
       left: -2%;
       bottom: -4%;
       width: 36vh;
       height: 36vh;
       animation: fade .1s linear
     }
   }
 }

 .nextContent {
   width: 100%;
   height: 100%;
   background-color: #000000;
   background-color: rgba(0, 0, 0, .47843);
   z-index: 100;
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   justify-content: center;
   align-items: center;

   .character {
     width: 100vh;
     height: 75vh;
     position: relative;
     background-size: contain;
     background-position: center center;
     background-repeat: no-repeat;
     animation: fade .3s linear;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

     .progress {
       width: 56vh;
       height: 10vh;

       #progressbar {
         position: relative;
       }

       .finish {
         position: absolute;
         top: 4.5vh;
         z-index: 100;
         font-size: 2.3vh;
         left: 2.2vh;
         color: #22649C !important;
         font-weight: bold;


       }

       &.stars {
         height: 25vh;

       }

       .eng {
         transform: scaleX(-1);
       }

     }

     .penguin {

       background-size: 100% 100%;
       background-repeat: no-repeat;


       &.feedbacktrue {
         width: 30vh;
         height: 35vh;
       }

       &.feedbackfalse {
         width: 35vh;
         height: 33vh
       }

     }

     .border {
       margin-bottom: 15vh;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;



       .type {
         margin-bottom: 3vh;
         font-size: 5vh;

         color: #22649C !important;
         font-weight: bold;
         background-size: 100% 100%;
         background-repeat: no-repeat;
         width: 35vh;
         height: 11.5vh;
         display: flex;
         justify-content: center;
         align-items: center;
       }
     }



     .buttons {
       position: absolute;
       bottom: -2vh;
       width: 40%;
       height: 14vh;
       right: 0;
       left: 0;
       margin: 0 auto;
       display: flex;
       justify-content: space-around;
       align-items: center;

       button {
         width: 11vh;
         height: 11vh;
         border-radius: 50%;
         background-size: contain;
         background-position: center center;
         background-repeat: no-repeat;
         border: 0;
         background-color: transparent;

       }

       button:focus {
         outline: none;
         //  opacity: .5
       }




     }
   }

 }

 .break {
   flex-basis: 100%;
 }





 //style question

 @media (min-aspect-ratio: 1024 / 768) {
   .digital-screen {
     .penguin {
       .border {
         .question {
           margin-top: 1.5vh;
         }

       }


     }
   }
 }

 @media (min-aspect-ratio: 1500 / 1000) {
   .digital-screen {
     .penguin {
       .border {
         .question {
           margin-top: 5vh;
         }

       }


     }
   }
 }

 /**/



 /**/

 @for $i from 1 through 100 {
   .w#{$i}v {
     width: #{$i+ 'vh !important'};
   }
 }

 @for $i from 1 through 100 {
   .m#{$i}l {
     margin-left: #{$i+ 'vh !important'};
   }
 }

 @for $i from 1 through 100 {
   .m#{$i}r {
     margin-right: #{$i+ 'vh !important'};
   }
 }

 .flex {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   margin: 1vh;
 }

 .w6vh {
   width: 6vh;
 }

 .w12vh {
   width: 12vh;
 }

 .w125vh {
   width: 12.5vh;
 }

 .w105vh {
   width: 10vh;
 }

 .w13vh {
   width: 13vh;
 }

 .m5l {
   margin-left: 5vh;
 }

 .m1l {
   margin-left: 1vh;
 }

 .w3vh {
   width: 3vh;
 }

 .center {
   display: flex;
   justify-content: center;
 }

 .w8vh {
   width: 8vh !important;
 }

 .digital-screen {
   .penguin {
     .border {
       .question {
         .type-question {
           flex-direction: row;
         }

         input {
           height: 7vh;
         }
       }
     }
   }
 }

 .fraction {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: transparent !important;
   position: relative;
   margin-left: 0.5vw;
   margin-right: 0.5vw;
   width: 8vw;

   .line {

     border-bottom: 0.2vw solid #000000;
     width: 100%;
     margin: 0.6vw;
   }

   .upp,
   .down {
     position: relative;
     margin-top: -0.5vw;
     text-align: center;
     margin-bottom: -0.5vw;
   }


 }






 .digital-screen .penguin .border.go {
   animation: go 4s ease-in;
 }

 @keyframes go {
   from {

     left: 0vh;

   }

   to {

     left: 120vh;

   }
 }

 .digital-screen .penguin .border.back {
   animation: back 4s ease-out;
 }

 @keyframes back {
   from {

     left: 120vh;

   }

   to {

     left: 0vh;

   }
 }

 /**/
 .digital-screen .penguin .border .question {
   margin-left: 20vh;
 }

 .digital-screen .penguin .border .question.active {
   overflow: hidden;
   position: relative;
 }

 .roundOne.activeRound {
   margin-top: 0vh;
   transition: 2s;
   z-index: 20;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   position: unset !important;
   opacity: 1;
 }

 .roundOne {
   transition: 2s;
   opacity: 0;
   z-index: 0;
   display: contents;

 }

 .roundTwo.activeRound {
   transition: 2s;

   position: unset !important;
   opacity: 1;
 }

 .roundOne .roundNone {
   display: none;
 }


 .roundTwo {
   transition: 2s;
   opacity: 0;
 }

 .roundTwo .roundNone {
   display: none;
 }

 .round {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
 }

 .b1v {
   bottom: 1vh !important;
 }

 .b2v {
   bottom: 2vh !important;
 }


 .digital-screen .penguin .border .question input {
   font-size: 3vh !important;
 }

 .digital-screen .penguin .border .question .type-question {
   flex-direction: column;
   justify-content: flex-start;
   margin: 3.5vh 1vh;

 }

 .flexwarp {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
 }



 .digital-screen .penguin .border .question .data p {
   line-height: 1.5;
 }

 .data {
   width: 5vw !important;
 }

 .btn_round {
   position: absolute;
   right: 76%;
   bottom: 10%;
 }

 .btn_round {

   z-index: 5;
   position: absolute;
   width: 10vh;
   height: 10vh;
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
   pointer-events: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 41vh;
   bottom: 1vh;
 }

 .digital-screen .penguin .border .btn_round .help-check::after {
   width: 7vh;
   height: 8vh;
   left: 4vw;
   top: -10.5vw;
   transform: rotate(225deg);
   animation: checknext .5s linear .2s infinite alternate;
 }



 @keyframes checknext {
   from {
     left: 1vw;
     top: -8.5vw;
   }

   to {
     left: 2vw;
     top: -9.5vw;

   }
 }


 @keyframes mymove {
   from {
     left: -5vh;
   }

   to {
     left: 8vh;
   }
 }

 .w8v {
   width: 8vh !important;
 }

 .w6v {
   width: 6vh !important;
 }

 .h5v {
   height: 5vh !important;
 }

 .digital-screen .penguin .border .question .type-question .container {
   width: 100%;
   display: flex;
   justify-content: center;
 }

 .font4 {
   font-size: 4vh !important;
 }


 .container.hiddenRound .roundOne.active {
   transition: 2s;
   opacity: 0;

 }

 .container.hiddenRound .roundTwo.active {
   top: 0;
 }

 /**/
 .chooses {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   animation: fadeIn 4s;

   .choose {
     width: 11vh;
     height: 6vh;
     margin: 1vh;

     display: flex;
     justify-content: center;
     align-items: center;
     background-size: 100% 100%;
     background-position: center;
     background-repeat: no-repeat;
     pointer-events: auto;



     p {
       pointer-events: none;
       font-weight: bold;
       color: white !important;

       letter-spacing: 0.2vw;
       font-size: 3vh !important;

     }

     &.true,
     &.false {
       p {
         color: #fff !important;
         // pointer-events: none;
       }
     }


   }
 }

 .ltr {
   direction: ltr;
 }

 /**/