<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='icon' href='../../../lib-native/digital-screen/assets/images/favicon.ico' type='image/x-icon' />
  <link rel="stylesheet" href="../../../lib-native/digital-screen/assets/style/font.css">
  <link rel="stylesheet" href="../../../lib-native/digital-screen/assets/style/digital-screen.css">
  <link rel="stylesheet" href="./style/lo-style.css">
  <script src="../../../lib-native/digital-screen/assets/js/lottie-min.js"></script>
  <script src="../../../lib-native/digital-screen/assets/js/vue.js"></script>
  <script src="../../../js/submit_sender.js"></script>
  <title>Digital Screen</title>
</head>

<body>
  <div class="main" id="digital-screen" data-urlpage="data">
    <div v-show="!startLo">
      <div class="start-button" @click="start()"></div>
    </div>
    <div class="logo"></div>
    <div class="transition">
      <div class="pic_left "></div>
      <div class="pic_right "></div>
    </div>
    <div class="zoki" v-show="startLo">
      <div class="music" @click="muteMusic()" :class="bgMusic ? 'play' : 'mute'"></div>
      <template v-if="this.posts.length !=0 ">
        <div class="information" @click="showInformation()" :class="{'none' : !infotmationClick}"></div>
        <div class="overlay" id="overlay"></div>
        <div class="popup" id="popup">
          <div class="popup-content">
            <span class="close" @click="closePopup()"></span>
            <p v-html="this.posts[0].informationLO"></p>
          </div>
        </div>
      </template>

      <div class="zoki-charecter" id="zokicharecter" v-show="!question">
      </div>

      <div class="screen-question">
        <div class="screen">
          <div class="check-button" @click="checkanswer()">
            <div class="check hand " v-if="this.counter == 0"></div>
          </div>
          <div class="display-answer-button " @click="showAnswer()">
            <div class="display-answer hand" v-if="this.counter == 0"></div>
          </div>

          <div class="finished" v-show="!question && feedback">
            <div id="robots">
            </div>
          </div>

          <template v-if="this.posts.length != 0">
            <template v-for="(item,index) in this.posts">
              <template v-for="(item,index) in item.items">

                <div class="question center" :class="{'active': item.active, 'ltr': upper || (!upper && isEng) }">
                  <div class="content">
                    <div class="roundOne" :class="{'activeRound': !roundTwo}">
                      <div class="round" :class="{'roundNone': roundTwo}">
                        <p class="text parag">{{item.title}}</p>
                        <div class="break"></div>
                        <template v-for="(input, i) in item.inputs[0].numOfInput">
                          <input type="text" class="input emptyInput" index="0" :indexInput="i" @change="changeValue();"
                            @click="clickInput()" maxlength="1" @keyup="maxLength($event,i)">
                          <div class="help hand display help-input" v-if="helpHand && i==0"
                            :class="{'handEng':upper || (!upper && isEng)}"></div>
                        </template>
                        <template v-for="(input, i) in item.inputs[1].numOfInput">
                          <input type="text" class="input emptyInput" index="1" :indexInput="i" @change="changeValue();"
                            @click="clickInput()" @keyup="maxLength($event,i)">
                        </template>
                        <template v-for="(input, i) in item.inputs[2].numOfInput">
                          <input type="text" class="input emptyInput" index="2" :indexInput="i" @change="changeValue();"
                            @click="clickInput()" @keyup="maxLength($event,i)">
                        </template>
                      </div>
                    </div>
                    <div class="roundTwo" :class="{'activeRound': roundTwo}">
                      <div class="round" :class="{'roundNone': !roundTwo}">
                        <p class="text parag">{{item.title}}</p>
                        <div class="break"></div>
                        <div class="chooses">
                          <template v-for="choose in item.choose">
                            <div class="choose" @click="checkChoose($event, choose)" style="pointer-events: auto;"
                              :class="{'correct': choose.answer}">
                              <p class="text parag" v-html="choose.select"></p>
                            </div>
                          </template>
                        </div>
                        <div class="chooses">
                          <div class="choose bg"
                            :class="{'true': (correctChoose == true && !upper) || (typeChoose == true && upper)}">
                            <template v-if="typeChoose == true">
                              <p class="text parag"  v-html="selectChoose"></p>
                            </template>
                            <template v-if="typeChoose == false && !upper">
                              <p class="text parag"  v-html="correctChooseText"></p>
                            </template>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </template>
            </template>
          </template>
        </div>
      </div>

      <div v-show="question">
        <div class="nextContent">
          <div class="character show">

            <div class="progress" v-show="counter == loQuestions">

                <div id="progressbar">
                </div>

                <div id="stars"></div>
            </div>
            <p class="grade" v-show="counter == loQuestions">{{Estimation}}</p>
            <div class="animation">
              <div id="zokisad" v-show="finalProgress <= 51  && counter == loQuestions">
              </div>
              <div id="zokihappy" v-show="finalProgress > 51 && counter == loQuestions">
              </div>
            </div>

            <div class="buttons">
              <button class="home" @click="home()"></button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <script src="../../../js/input.js"></script>
  <script src="../../../js/choose.js"></script>
  <script src="../../../js/finalProgress.js"></script>
  <script src="../../../lib-native/digital-screen/digital-screen-tworound-input-choose/js/zoki.js"></script>
  <script src="../../../lib-native/digital-screen/assets/js/animation.js"></script>
</body>

</html>