.digital-screen .penguin .border .question {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.ltr{
    direction: ltr;
}
.handEng{
    left: -10vw;
    top: 1vw;
}
.break{
    flex-basis: 100%;
}